.container{
    width: 500px;
    border: 2px solid black;
    padding: 3px;
    margin: 30px auto;
    background-color: bisque;
    border-radius: 6px;
}
h1{
    text-align: center;
}
input[type="text"] {
    width: 130px;
    height: 26px;
    border: none;
    border-radius: 9px;
    margin-left: 5px;
}
form {
    margin-left: 2rem;
}
::placeholder{
    margin-left: 3px;
}
.email {
    width: 391px;
    height: 26px;
    border-radius: 8px;
    margin-left: 6px;
    border: none;
}
.row{
    margin-top: 25px;
}
.password {
    width: 365px;
}
.row1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.btn {
    padding: 5px;
    width: 121px;
    font-weight: bold;
    border: none;
}